<div class="modal fade" id="modalOceanJob" tabindex="-1" role="dialog" aria-labelledby="modalSigninVerticalTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>

                <h2 class="mb-1 fw-bold text-center" id="modalSigninVerticalTitle">
                    Full-Stack Developer
                </h2>
                <p class="mb-6 text-center text-muted">
                    Ocean Data Lab, 2022 Summer
                </p>
                <div class="list-group list-group-flush">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="mr-auto">
                            <p class="font-weight-bold mb-1">
                                Ocean Data Lab Website:
                                <a href="https://sites.uw.edu/abadi/" class="font-weight-bold text-decoration-none"
                                    target=”_blank”>
                                    view
                                </a>
                            </p>
                            <p class="font-weight-bold mb-1">
                                My development product:
                                <a href="http://52.43.62.252/" class="font-weight-bold text-decoration-none"
                                    target=”_blank”>
                                    <!-- onclick="return false;" -->
                                    view
                                </a>
                            </p>
                        </div>
                        <div class="badge badge-rounded-circle badge-success-soft ml-4">
                            <i class="fe fe-book"></i>
                        </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                        <div class="mr-auto">
                            <p class="font-weight-bold mb-1">
                                Context
                            </p>
                            <p class="font-size-sm text-muted mb-0">
                                In the past, members of the Ocean Data Lab have collected over 1.5GB ocean acoustic data
                                from large underwater networks. Various types of data visualizations are
                                created to better analyze those data. However,
                                Those visualizations requires different inputs such as location, time interval, graph
                                type, etc, to be generated.
                                It will be much convenient to manipulate these required parameters on an interface than
                                writing Python codes.
                            </p>
                        </div>

                        <div class="badge badge-rounded-circle badge-success-soft ml-4">
                            <i class="fe fe-book"></i>
                        </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                        <div class="mr-auto">
                            <p class="font-weight-bold mb-1">
                                Responsibility
                            </p>
                            <p class="font-size-sm text-muted mb-0">
                                Created a website where users can select different locations, graph types, and time
                                interval to generate different data visualizations. Website also allows users to
                                download the acoustic data in CSV file based on different requirements.
                            </p>
                        </div>
                        <div class="badge badge-rounded-circle badge-success-soft ml-4">
                            <i class="fe fe-book"></i>
                        </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                        <div class="mr-auto">
                            <p class="font-weight-bold mb-1">
                                Takeaway
                            </p>
                            <p class="font-size-sm text-muted mb-0">
                                I chosed a tech combination (React + Flask) that I never tried before. My experience of
                                building the interface highly improves my problem-solving skills and research skills. I
                                got to know Professor Shima and a group of amazing researchers.
                            </p>
                        </div>
                        <div class="badge badge-rounded-circle badge-success-soft ml-4">
                            <i class="fe fe-book"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
