<div class="modal fade" id="modalOcean" tabindex="-1" role="dialog" aria-labelledby="modalSigninVerticalTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>

                <h2 class="mb-1 fw-bold text-center" id="modalSigninVerticalTitle">
                    Ocean Data Lab
                </h2>

                <p class="mb-6 text-center text-muted">
                    Visualize Hydrophone Data
                </p>
                <div class="list-group list-group-flush">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="mr-auto">
                            <p class="font-weight-bold mb-1">
                                My development work: <a href="http://52.43.62.252/"
                                    class="font-weight-bold text-decoration-none" target=”_blank”>
                                    <!-- onclick="return false;" -->
                                    view
                                </a>
                            </p>
                        </div>
                        <div class="badge badge-rounded-circle badge-success-soft ml-4">
                            <i class="fe fe-book"></i>
                        </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                        <div class="mr-auto">
                            <p class="font-weight-bold mb-1">
                                Topic
                            </p>
                            <p class="font-size-sm text-muted mb-0">
                                Designed and developed a responsive website to help visualize and download hydrophone
                                data for Ocean Data Lab led by
                                Professor Shima Abadi
                            </p>
                        </div>
                        <div class="badge badge-rounded-circle badge-success-soft ml-4">
                            <i class="fe fe-book"></i>
                        </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                        <div class="mr-auto">
                            <p class="font-weight-bold mb-1">
                                React front-end
                            </p>
                            <p class="font-size-sm text-muted mb-0">
                                The website is built on top of one of the most popular front-end frameworks React.js.
                                UI components are
                                created with MaterialUI, and map is powered by react-map-gl
                            </p>
                        </div>
                        <div class="badge badge-rounded-circle badge-success-soft ml-4">
                            <i class="fe fe-database"></i>
                        </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                        <div class="mr-auto">
                            <p class="font-weight-bold mb-1">
                                Flask backend
                            </p>
                            <p class="font-size-sm text-muted mb-0">
                                Many scientific graphs can only be created with the help of Python libraries. Thus, I
                                chose Flask, a micro web
                                framework written in Python, to serve as the backend server for the website.
                            </p>
                        </div>
                        <div class="badge badge-rounded-circle badge-success-soft ml-4">
                            <i class="fe fe-code"></i>
                        </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                        <div class="mr-auto">
                            <p class="font-weight-bold mb-1">
                                Modern Deployment
                            </p>
                            <p class="font-size-sm text-muted mb-0">
                                The interactive visualization tool is deployed on AWS EC2 for public usage
                            </p>
                        </div>
                        <div class="badge badge-rounded-circle badge-success-soft ml-4">
                            <i class="fe fe-cloud"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
