<div class="modal fade" id="modalEmployeefind" tabindex="-1" role="dialog" aria-labelledby="modalSigninVerticalTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>

        <h2 class="mb-1 fw-bold text-center" id="modalSigninVerticalTitle">
          Employeefind
        </h2>

        <p class="mb-6 text-center text-muted">
          Simplify your process in finding employees
        </p>
        <div class="list-group list-group-flush">
          <div class="list-group-item d-flex align-items-center">
            <div class="mr-auto">
              <p class="font-weight-bold mb-1">
                Website Url: <a href="https://62c717173e6d8411c34decbf--meek-lamington-f0bfb6.netlify.app/"
                  class="font-weight-bold text-decoration-none" target="_blank">
                  view
                </a>
              </p>
            </div>
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-book"></i>
            </div>
          </div>
          <div class="list-group-item d-flex align-items-center">
            <div class="mr-auto">
              <p class="font-weight-bold mb-1">
                Full stack web development
              </p>
              <p class="font-size-sm text-muted mb-0">
                Developed an online human resource website for recruiters to find employees easily.
              </p>
            </div>
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-book"></i>
            </div>
          </div>
          <div class="list-group-item d-flex align-items-center">
            <div class="mr-auto">
              <p class="font-weight-bold mb-1">
                React front-end
              </p>
              <p class="font-size-sm text-muted mb-0">
                The website is built on top of one of the most popular front-end frameworks React.js. Components are
                created with MaterialUI.
              </p>
            </div>
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-database"></i>
            </div>
          </div>
          <div class="list-group-item d-flex align-items-center">
            <div class="mr-auto">
              <p class="font-weight-bold mb-1">
                Mock backend
              </p>
              <p class="font-size-sm text-muted mb-0">
                Currently, we are still working on creating the backend server to serve the need of send data to the
                front-end website. Thus, All the data shown on the website are now mocked by npm package
                axios-mock-adapter.
              </p>
            </div>
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-code"></i>
            </div>
          </div>
          <div class="list-group-item d-flex align-items-center">
            <div class="mr-auto">
              <p class="font-weight-bold mb-1">
                Modern Deployment
              </p>
              <p class="font-size-sm text-muted mb-0">
                The front-end website is currently hosted on Netlify for viewing purpose. When the backend is ready, we
                will deploy on Amazon AWS EC2.
              </p>
            </div>
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-cloud"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
