<div class="modal fade" id="modalSunshineJob" tabindex="-1" role="dialog" aria-labelledby="modalSigninVerticalTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>

                <h2 class="mb-1 fw-bold text-center" id="modalSigninVerticalTitle">
                    Full-stack Developer
                </h2>
                <p class="mb-6 text-center text-muted">
                    Simoni Lab, 2022 Summer
                </p>
                <div class="list-group list-group-flush">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="mr-auto">
                            <p class="font-weight-bold mb-1">
                                Simoni Lab website:
                                <a href="https://depts.washington.edu/jsimlab/"
                                    class="font-weight-bold text-decoration-none" target=”_blank”>
                                    view
                                </a>
                            </p>
                        </div>
                        <div class="badge badge-rounded-circle badge-success-soft ml-4">
                            <i class="fe fe-book"></i>
                        </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                        <div class="mr-auto">
                            <p class="font-weight-bold mb-1">
                                Context
                            </p>
                            <p class="font-size-sm text-muted mb-0">
                                The Embrace Sunshine team is building a Wechat-based mini-Program to deliver adherence
                                intervention for people
                                diagnosed with HIV. Furthermore, a management system to manipulate the
                                database is also needed to be developed.
                            </p>
                        </div>

                        <div class="badge badge-rounded-circle badge-success-soft ml-4">
                            <i class="fe fe-book"></i>
                        </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                        <div class="mr-auto">
                            <p class="font-weight-bold mb-1">
                                Responsibility
                            </p>
                            <p class="font-size-sm text-muted mb-0">
                                Assisted in building both the front-end and backend of the Embrace Sunshine Wechat
                                Mini-program. Designed and built the front-end interface of the management websit
                                for the Mini-program.
                            </p>
                        </div>
                        <div class="badge badge-rounded-circle badge-success-soft ml-4">
                            <i class="fe fe-book"></i>
                        </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                        <div class="mr-auto">
                            <p class="font-weight-bold mb-1">
                                Takeaway
                            </p>
                            <p class="font-size-sm text-muted mb-0">
                                As a developer, I highly improved my ability of communicating and collaborating with the
                                UI teams within a product development pipeline. I also sharpened my front-end
                                programming
                                skills as well as getting to learn new tech contents like AWS cloud storaging and
                                serverless
                                framework.
                            </p>
                        </div>
                        <div class="badge badge-rounded-circle badge-success-soft ml-4">
                            <i class="fe fe-book"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
